*.obj text eol=lf
*.json text eol=lf
*.py text eol=lf
*.md text eol=lf
*.ws text eol=lf
*.xml text eol=lf
*.cs text eol=lf
tools/native/*.cpp text eol=lf
native/*.cpp text eol=lf
native/*.hpp text eol=lf
native/CMakeLists.txt text eol=lf
